
a {
	text-decoration: none
}

a:focus, a:hover {
	outline: 0
}

.container {
	display: block;
	margin: 0 auto;
	padding: 25px 7px;
	box-sizing: border-box
}

p {
	margin: 5px 0
}

button {
	border: none
}


::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .5)
}

:-moz-placeholder {
	color: rgba(0, 0, 0, .5);
	opacity: 1
}

::-moz-placeholder {
	color: rgba(0, 0, 0, .5);
	opacity: 1
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, .5)
}

:placeholder-shown {
	color: rgba(0, 0, 0, .5)
}

.navpan {
	z-index: 2;
	width: 100%;
	background-color: #e74c3c;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	transition: all .3s ease;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
}

.navpan .searchtray {
	position: fixed;
	top: -80px;
	left: 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	height: 80px;
	background-color: #e74c3c;
	width: 100%;
	transition: all .3s ease
}

.navpan .searchtray .searchparent {
	text-align: center;
	height: 80px
}

.navpan .searchtray .searchparent i {
	position: relative;
	left: 20px;
	width: 0;
	height: 0;
	top: 7px;
	color: rgba(0, 0, 0, .87);
	transition: all .3s ease
}

.navpan .searchtray .searchparent .searchbox {
	width: 60%;
	background-color: #fff;
	outline: 0;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 13px 20px 13px 50px;
	margin: 15px auto 0;
	color: #fff;
	font-size: 16px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	transition: all .3s ease
}

.navpan .searchtray .searchparent .searchbox:focus, .navpan .searchtray .searchparent .searchbox:hover
	{
	background-color: #fff;
	color: rgba(0, 0, 0, .87);
	transition: all .3s ease
}

.navpan .searchtray .searchparent .sugbox {
	width: 60%;
	max-height: 150px;
	background-color: #fff;
	display: inline-block;
	height: 0;
	padding: 0;
	text-align: left;
	overflow: auto;
	border-radius: 5px;
	top: -13px;
	position: relative;
	left: 2px;
	transition: all .3s ease;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .5)
}

.navpan .searchtray .searchparent .sugbox li {
	padding: 10px 17px;
	cursor: pointer;
	transition: all .3s ease
}

.navpan .searchtray .searchparent .sugbox li.active, .navpan .searchtray .searchparent .sugbox li:focus,
	.navpan .searchtray .searchparent .sugbox li:hover {
	background-color: rgba(231, 76, 59, .2)
}

.navpan .searchtray.open {
	top: 0;
	transition: all .3s ease
}

.navpan .navtray {
	transition: all .3s ease;
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	background-color: #e74c3c;
	display: inline-block;
	height: 100%;
	overflow: auto;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, .3)
}

.navpan .navtray a {
	display: block;
	color: #fff;
	font-size: 16px;
	padding: 15px 25px;
	transition: all .3s ease
}

.navpan .navtray a.active, .navpan .navtray a:focus, .navpan .navtray a:hover
	{
	background-color: #c0392b;
	transition: all .3s ease
}

.navpan .navtray.open {
	right: 0;
	transition: all .3s ease
}

.navpan .nav-content {
	margin: 0 auto;
	transition: all .3s ease;
	padding-right: 10px
}

.navpan .nav-content  {
	transform-origin: top left;
	padding: 10px 15px 6px;
	display: inline-block;
	color: #fff;
	font-size: 32px;
	line-height: 32px;
	background-color: #e74c3c;
	transition: all .3s ease
}

.navpan .nav-content  img {
	height: 60px;
	width: 60px;
	transition: all .3s ease
}

.navpan .nav-content  .texts {
	position: relative;
	top: -5px;
	display: inline-block
}

.navpan .nav-content  .texts .darktext {
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS';
	transition: all .3s ease;
	font-weight: 800
}

.navpan .nav-content  .texts .lighttext {
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS';
	transition: all .3s ease;
	font-weight: 300
}

.navpan .nav-content .right-content {
	padding-top: 17px;
	padding-bottom: 16px;
	background-color: #e74c3c;
	float: right;
	transition: all .3s ease
}

.navpan .nav-content .right-content i {
	cursor: pointer;
	color: #fff;
	font-size: 42px;
	transition: all .3s ease
}

.navpan .nav-content .right-content i .cartcount {
	height: 14px;
	width: 16px;
	text-align: center;
	color: #e74c3c;
	font-size: 14px;
	position: absolute;
	top: 8px;
	left: 14px;
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS';
	transition: all .3s ease
}

@media ( max-width :600px) {
	.navpan .nav-content {
		padding-right: 0
	}
	.navpan .nav-content .right-content.permitted {
		padding-top: 7px;
		padding-bottom: 6px;
		display: block;
		float: none;
		text-align: center;
		box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
	}
	.navpan .nav-content .right-content.permitted i {
		margin: auto 10px
	}
	
}

@media ( min-width :1300px) {
	.container, .footerrow, .nav-content {
		width: 1300px
	}
}

.footerlogo {
	transform-origin: top left;
	padding: 7px 15px 8px;
	display: inline-block;
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	background-color: #e74c3c;
	transition: all .3s ease
}

.footerlogo img {
	height: 60px;
	width: 60px;
	transition: all .3s ease
}

.footerlogo .texts {
	position: relative;
	top: -5px;
	display: inline-block
}

.footerlogo .texts .darktext {
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS';
	transition: all .3s ease;
	font-weight: 800
}

.footerlogo .texts .lighttext {
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS';
	transition: all .3s ease;
	font-weight: 300
}

.row {
	display: block;
	overflow: auto
}

.row .cl10:first-child, .row .cl11:first-child, .row .cl12:first-child,
	.row .cl1:first-child, .row .cl2:first-child, .row .cl3:first-child,
	.row .cl4:first-child, .row .cl5:first-child, .row .cl6:first-child,
	.row .cl7:first-child, .row .cl8:first-child, .row .cl9:first-child,
	.row .cmd10:first-child, .row .cmd11:first-child, .row .cmd12:first-child,
	.row .cmd1:first-child, .row .cmd2:first-child, .row .cmd3:first-child,
	.row .cmd4:first-child, .row .cmd5:first-child, .row .cmd6:first-child,
	.row .cmd7:first-child, .row .cmd8:first-child, .row .cmd9:first-child,
	.row .cs10:first-child, .row .cs11:first-child, .row .cs12:first-child,
	.row .cs1:first-child, .row .cs2:first-child, .row .cs3:first-child,
	.row .cs4:first-child, .row .cs5:first-child, .row .cs6:first-child,
	.row .cs7:first-child, .row .cs8:first-child, .row .cs9:first-child,
	.row .cx10:first-child, .row .cx11:first-child, .row .cx12:first-child,
	.row .cx1:first-child, .row .cx2:first-child, .row .cx3:first-child,
	.row .cx4:first-child, .row .cx5:first-child, .row .cx6:first-child,
	.row .cx7:first-child, .row .cx8:first-child, .row .cx9:first-child {
	padding-left: 0
}

.row .cl10:last-child, .row .cl11:last-child, .row .cl12:last-child,
	.row .cl1:last-child, .row .cl2:last-child, .row .cl3:last-child, .row .cl4:last-child,
	.row .cl5:last-child, .row .cl6:last-child, .row .cl7:last-child, .row .cl8:last-child,
	.row .cl9:last-child, .row .cmd10:last-child, .row .cmd11:last-child,
	.row .cmd12:last-child, .row .cmd1:last-child, .row .cmd2:last-child,
	.row .cmd3:last-child, .row .cmd4:last-child, .row .cmd5:last-child,
	.row .cmd6:last-child, .row .cmd7:last-child, .row .cmd8:last-child,
	.row .cmd9:last-child, .row .cs10:last-child, .row .cs11:last-child,
	.row .cs12:last-child, .row .cs1:last-child, .row .cs2:last-child, .row .cs3:last-child,
	.row .cs4:last-child, .row .cs5:last-child, .row .cs6:last-child, .row .cs7:last-child,
	.row .cs8:last-child, .row .cs9:last-child, .row .cx10:last-child, .row .cx11:last-child,
	.row .cx12:last-child, .row .cx1:last-child, .row .cx2:last-child, .row .cx3:last-child,
	.row .cx4:last-child, .row .cx5:last-child, .row .cx6:last-child, .row .cx7:last-child,
	.row .cx8:last-child, .row .cx9:last-child {
	padding-right: 0
}

.cl1, .cl10, .cl11, .cl12, .cl2, .cl3, .cl4, .cl5, .cl6, .cl7, .cl8,
	.cl9, .cmd1, .cmd10, .cmd11, .cmd12, .cmd2, .cmd3, .cmd4, .cmd5, .cmd6,
	.cmd7, .cmd8, .cmd9, .cs1, .cs10, .cs11, .cs12, .cs2, .cs3, .cs4, .cs5,
	.cs6, .cs7, .cs8, .cs9, .cx1, .cx10, .cx11, .cx12, .cx2, .cx3, .cx4,
	.cx5, .cx6, .cx7, .cx8, .cx9 {
	float: left;
	margin-top: 5px;
	box-sizing: border-box;
	padding: 0 5px
}

.cl12, .cmd12, .cs12, .cx12 {
	width: 100%
}

.cl11, .cmd11, .cs11, .cx11 {
	width: 91.66%
}

.cl10, .cmd10, .cs10, .cx10 {
	width: 83.33%
}

.cl9, .cmd9, .cs9, .cx9 {
	width: 75%
}

.cl8, .cmd8, .cs8, .cx8 {
	width: 66.66%
}

.cl7, .cmd7, .cs7, .cx7 {
	width: 58.33%
}

.cl6, .cmd6, .cs6, .cx6 {
	width: 50%
}

.cl5, .cmd5, .cs5, .cx5 {
	width: 41.66%
}

.cl4, .cmd4, .cs4, .cx4 {
	width: 33.33%
}

.cl3, .cmd3, .cs3, .cx3 {
	width: 25%
}

.cl2, .cmd2, .cs2, .cx2 {
	width: 16.66%
}

.cl1, .cmd1, .cs1, .cx1 {
	width: 8.33%
}

@media ( max-width :550px) {
	.cs1, .cs10, .cs12.cs11, .cs2, .cs3, .cs4, .cs5, .cs6, .cs7, .cs8, .cs9
		{
		width: 100%;
		float: none;
		padding: 0
	}
}

@media ( max-width :700px) {
	.cmd1, .cmd10, .cmd12.cmd11, .cmd2, .cmd3, .cmd4, .cmd5, .cmd6, .cmd7,
		.cmd8, .cmd9 {
		width: 100%;
		float: none;
		padding: 0
	}
}

@media ( max-width :900px) {
	.cl1, .cl10, .cl12.cl11, .cl2, .cl3, .cl4, .cl5, .cl6, .cl7, .cl8, .cl9
		{
		width: 100%;
		float: none;
		padding: 0
	}
}

.myinput {
	resize: none;
	background-color: #fff;
	outline: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5) inset;
	background-color: rgba(0, 0, 0, .04);
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	width: 85%;
	margin: 5px 0;
	font-size: 16px;
	transition: all .3s ease;
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS'
}

.myinput:focus, .myinput:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .7) inset;
	transition: all .3s ease
}

.rightpanel {
	background-color: #fff;
	border-radius: 5px;
	padding: 25px 30px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
	border-right: 50px solid #e74c3c;
	box-sizing: border-box;
	overflow: visible
}

.mybutton {
	font-size: 16px;
	background-color: #b13851;
	padding: 12px 45px;
	outline: 0;
	margin: 5px 0;
	border-radius: 5px;
	transition: all .3s ease;
	cursor: pointer;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
}

.mybutton .material-icons {
	font-size: 24px;
	color: #fff
}

.mybutton:hover, .mybuttonfocus {
	background-color: #c0392b;
	transition: all .3s ease
}

.linkbutton {
	color: #e74c3c;
	background: 0 0;
	padding: 0;
	outline: 0;
	font-size: 18px;
	cursor: pointer
}

.linkbutton:focus, .linkbutton:hover {
	font-weight: 700;
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS'
}

.ermsg {
	color: #dc143c;
	display: none
}

.select {
	width: 85%;
	display: inline-block;
	padding: 10px 25px;
	margin: 5px 0;
	background-color: rgba(0, 0, 0, .04);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5) inset;
	border-radius: 5px;
	position: relative;
	font-family: 'Open Sans', 'Century Gothic', 'Trebuchet MS';
	cursor: pointer
}

.select .selected-option {
	color: rgba(0, 0, 0, .87)
}

.select select {
	display: none
}

.select .options {
	display: none;
	max-height: 150px;
	position: absolute;
	background-color: #fff;
	bottom: 75%;
	width: 99.5%;
	border-radius: 5px;
	left: 0;
	list-style: none;
	padding: 0;
	overflow: auto;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .5)
}

.select .options li {
	padding: 10px 25px;
	background-color: #fff;
	transition: all .3s ease
}

.select .options li.active, .select .options li:focus, .select .options li:hover
	{
	background-color: rgba(231, 76, 59, .2);
	transition: all .3s ease
}

.select .options.open {
	display: inline-block
}

.select i {
	position: absolute;
	right: 15px;
	top: 20px;
	line-height: 0
}

.table {
	margin: 10px 0;
	border: none;
	text-align: left;
	border-collapse: collapse;
	width: 100%
}

.table tbody td, .table tbody th, .table thead td, .table thead th {
	padding: 7px 25px 7px 10px;
	display: table-cell;
	border-top: 1px solid #e74c3c;
	box-sizing: border-box;
	white-space: nowrap
}

.table tbody th, .table thead th {
	font-weight: 700;
	border-top: none;
	border-bottom: 2px solid #e74c3c
}

.table tbody tr, .table thead tr {
	transition: background-color .3s ease, color .3s ease
}

.table.stripped tbody tr:nth-of-type(even), .table.stripped thead tr:nth-of-type(even)
	{
	background-color: #EEE
}

.table.stripped tbody td, .table.stripped thead td {
	border-top: none
}

@media ( max-width :768px) {
	.responsive {
		overflow-y: hidden;
		overflow-x: auto
	}
}

.responsive {
	overflow-y: hidden;
	overflow-x: auto
}

.list {
	text-align: left;
	margin: 15px 0;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	background-color: #fff
}

.list  {
	color: #fff;
	background-color: #e74c3c;
	padding: 10px 25px
}

.list .content {
	margin: 0;
	list-style: none;
	padding: 0
}

.list .content li {
	padding: 10px 25px;
	cursor: pointer;
	transition: all .3s ease
}

.list .content li.active, .list .content li:focus, .list .content li:hover
	{
	background-color: rgba(231, 76, 59, .2);
	transition: all .3s ease
}

.list.notactive .content li {
	cursor: auto
}

.list.notactive .content li.active, .list.notactive .content li:focus,
	.list.notactive .content li:hover {
	background-color: #fff;
	color: rgba(0, 0, 0, .87)
}

.model {
	position: fixed;
	top: 30px;
	left: 50%;
	z-index: 3;
	margin: 0 auto 0 -175px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
	width: 350px;
	text-align: center;
	display: none;
	box-sizing: border-box
}

.model p {
	font-size: 22px;
	margin-bottom: 25px;
	display: block
}

.model i {
	cursor: pointer
}

.model.open {
	display: inline-block
}

.paragraph-end {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,
		255, 255, 0)), color-stop(100%, #fff));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0),
		#fff);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,
		StartColorStr='#00ffffff', EndColorStr='#ffffff');
	top: 0;
	height: 100%;
	position: absolute;
	right: 0;
	width: 30%
}

.gallery {
	padding: 0;
	overflow: hidden;
	position: relative;
	display: block;
	background-color: #222;
	transition: height .3s ease
}

.gallery>.images {
	position: relative
}

.gallery>.images>div {
	background-color: #222;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: 100%;
	left: 100%;
	transition: left .3s ease
}

.gallery>.images>div>div, .gallery>.images>div>img {
	max-width: 100%;
	box-shadow: 0 0 50px #000
}

.gallery>.images>div.active {
	left: 0;
	transition: left .3s ease
}

.gallery>.images>div.active>div {
	left: 0
}

.gallery>.images>div.prev {
	left: -100%;
	transition: left .3s ease
}

.gallery>.left, .gallery>.right {
	position: absolute;
	top: 50%;
	left: -5px;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	color: #222;
	margin-top: -20px;
	background-color: rgba(255, 255, 255, .5);
	transition: background-color .3s ease, padding .3s ease;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
}

.gallery>.right {
	left: auto;
	border-radius: 20px 0 0 20px;
	right: -5px
}

.gallery>.left:hover, .gallery>.right:hover {
	padding: 10px 20px;
	transition: background-color .3s ease, padding .3s ease;
	background-color: #fff
}

.gallery>.pointers {
	position: absolute;
	display: block;
	width: 100%;
	height: 40px;
	bottom: 0;
	left: 0;
	text-align: center
}

.gallery>.pointers>span {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .3);
	display: inline-block;
	height: 10px;
	margin: 15px 5px;
	width: 10px;
	border-radius: 5px;
	transition: background-color .3s ease, width .4s ease;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
}

.gallery>.pointers>span.active {
	width: 30px;
	background-color: #fff;
	transition: background-color .3s ease, width .4s ease
}

.gallery>.pointers>span:hover {
	background-color: #fff;
	transition: background-color .3s ease, width .4s ease
}

.gallery.fade>.images>div {
	opacity: 0;
	left: 100%;
	transition: opacity 1s ease
}

.gallery.fade>.images>div.active {
	opacity: 1;
	left: 0;
	transition: opacity 1s ease
}

.gallery.fade>.images>div.active div {
	opacity: 1
}

.gallery.fade>.images>div.prev {
	left: 0;
	opacity: 0;
	transition: opacity 1s ease
}

.toast {
	display: inline-block;
	max-width: 250px;
	border-radius: 100px;
	padding: 8px 10px;
	position: fixed;
	opacity: 0;
	transform: scale(0);
	transform-origin: center;
	transition: transform .3s ease, opacity .3s ease, top .3s ease;
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden
}

.tooltipbody {
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	color: #fff;
	z-index: 3;
	display: inline-block;
	font-size: 14px;
	padding: 3px 10px;
	border-radius: 100px
}