<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	metadata-complete="false" version="3.0"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>DemoTest</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.controller, com.jersey.jaxb,
				com.fasterxml.jackson.jaxrs.json</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>DoMyFilter</filter-name>
    <filter-class>com.filter.DoMyFilter</filter-class>
  </filter>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <servlet-name>AdminInsertServlet</servlet-name>
    <servlet-class>com.controller.AdminInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>com.controller.AdminListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>com.controller.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminEditServlet</servlet-name>
    <servlet-class>com.controller.AdminEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>com.controller.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountryInsertServlet</servlet-name>
    <servlet-class>com.controller.CountryInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountryListServlet</servlet-name>
    <servlet-class>com.controller.CountryListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountryDeleteServlet</servlet-name>
    <servlet-class>com.controller.CountryDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountryEditServlet</servlet-name>
    <servlet-class>com.controller.CountryEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountryUpdateServlet</servlet-name>
    <servlet-class>com.controller.CountryUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityInsertServlet</servlet-name>
    <servlet-class>com.controller.CityInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityListServlet</servlet-name>
    <servlet-class>com.controller.CityListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityUpdateServlet</servlet-name>
    <servlet-class>com.controller.CityUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityDeleteServlet</servlet-name>
    <servlet-class>com.controller.CityDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityEditServlet</servlet-name>
    <servlet-class>com.controller.CityEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerInsertServlet</servlet-name>
    <servlet-class>com.controller.PhotographerInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerListServlet</servlet-name>
    <servlet-class>com.controller.PhotographerListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerDeleteServlet</servlet-name>
    <servlet-class>com.controller.PhotographerDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerEditServlet</servlet-name>
    <servlet-class>com.controller.PhotographerEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerUpdateServlet</servlet-name>
    <servlet-class>com.controller.PhotographerUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumInsertServlet</servlet-name>
    <servlet-class>com.controller.AlbumInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumListServlet</servlet-name>
    <servlet-class>com.controller.AlbumListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumDeleteServlet</servlet-name>
    <servlet-class>com.controller.AlbumDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumEditServlet</servlet-name>
    <servlet-class>com.controller.AlbumEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumUpdateServlet</servlet-name>
    <servlet-class>com.controller.AlbumUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryInsertServlet</servlet-name>
    <servlet-class>com.controller.CategoryInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.controller.CategoryListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <servlet-class>com.controller.CategoryDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryEditServlet</servlet-name>
    <servlet-class>com.controller.CategoryEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <servlet-class>com.controller.CategoryUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerDetailsServlet</servlet-name>
    <servlet-class>com.controller.PhotographerDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejectedPhotographerListServlet</servlet-name>
    <servlet-class>com.controller.RejectedPhotographerListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminChangePasswordServlet</display-name>
    <servlet-name>AdminChangePasswordServlet</servlet-name>
    <servlet-class>com.controller.AdminChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PhotographerLoginServlet</display-name>
    <servlet-name>PhotographerLoginServlet</servlet-name>
    <servlet-class>com.controller.PhotographerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PhotographersChangePasswordServlet</display-name>
    <servlet-name>PhotographersChangePasswordServlet</servlet-name>
    <servlet-class>com.controller.PhotographersChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryPriceServlet</servlet-name>
    <servlet-class>com.controller.CategoryPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryPriceListServlet</servlet-name>
    <servlet-class>com.controller.CategoryPriceListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryPriceUpdateServlet</servlet-name>
    <servlet-class>com.controller.CategoryPriceUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryPriceDeleteServlet</servlet-name>
    <servlet-class>com.controller.CategoryPriceDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryPriceEditServlet</servlet-name>
    <servlet-class>com.controller.CategoryPriceEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryPriceInsertServlet</servlet-name>
    <servlet-class>com.controller.CategoryPriceInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.controller.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotographerLogoutServlet</servlet-name>
    <servlet-class>com.controller.PhotographerLogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PhotographerChangePasswordServlet</servlet-name>
    <servlet-class>com.controller.PhotographerChangePasswordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DemoTest</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>DoMyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>AdminInsertServlet</servlet-name>
    <url-pattern>/AdminInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/AdminListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEditServlet</servlet-name>
    <url-pattern>/AdminEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/AdminUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryInsertServlet</servlet-name>
    <url-pattern>/CountryInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryListServlet</servlet-name>
    <url-pattern>/CountryListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryDeleteServlet</servlet-name>
    <url-pattern>/CountryDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryEditServlet</servlet-name>
    <url-pattern>/CountryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryUpdateServlet</servlet-name>
    <url-pattern>/CountryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityInsertServlet</servlet-name>
    <url-pattern>/CityInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityListServlet</servlet-name>
    <url-pattern>/CityListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityUpdateServlet</servlet-name>
    <url-pattern>/CityUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityDeleteServlet</servlet-name>
    <url-pattern>/CityDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityEditServlet</servlet-name>
    <url-pattern>/CityEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerInsertServlet</servlet-name>
    <url-pattern>/PhotographerInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerListServlet</servlet-name>
    <url-pattern>/PhotographerListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerDeleteServlet</servlet-name>
    <url-pattern>/PhotographerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerEditServlet</servlet-name>
    <url-pattern>/PhotographerEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerUpdateServlet</servlet-name>
    <url-pattern>/PhotographerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumInsertServlet</servlet-name>
    <url-pattern>/AlbumInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumListServlet</servlet-name>
    <url-pattern>/AlbumListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumDeleteServlet</servlet-name>
    <url-pattern>/AlbumDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumEditServlet</servlet-name>
    <url-pattern>/AlbumEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumUpdateServlet</servlet-name>
    <url-pattern>/AlbumUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryInsertServlet</servlet-name>
    <url-pattern>/CategoryInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <url-pattern>/CategoryDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryEditServlet</servlet-name>
    <url-pattern>/CategoryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <url-pattern>/CategoryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminChangePasswordServlet</servlet-name>
    <url-pattern>/AdminChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerLoginServlet</servlet-name>
    <url-pattern>/PhotographerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographersChangePasswordServlet</servlet-name>
    <url-pattern>/PhotographersChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingPhotographerListServlet</servlet-name>
    <servlet-class>com.controller.PendingPhotographerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingPhotographerListServlet</servlet-name>
    <url-pattern>/PendingPhotographerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingPhotographerRejectServlet</servlet-name>
    <servlet-class>com.controller.PendingPhotographerRejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingPhotographerRejectServlet</servlet-name>
    <url-pattern>/PendingPhotographerRejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotographerAcceptServlet</servlet-name>
    <servlet-class>com.controller.PhotographerAcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotographerAcceptServlet</servlet-name>
    <url-pattern>/PhotographerAcceptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotographerConfirmServlet</servlet-name>
    <servlet-class>com.controller.PhotographerConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectedPhotographerListServlet</servlet-name>
    <url-pattern>/RejectedPhotographerListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerConfirmServlet</servlet-name>
    <url-pattern>/PhotographerConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerDetailsServlet</servlet-name>
    <url-pattern>/PhotographerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPriceServlet</servlet-name>
    <url-pattern>/CategoryPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPriceInsertServlet</servlet-name>
    <url-pattern>/CategoryPriceInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPriceListServlet</servlet-name>
    <url-pattern>/CategoryPriceListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPriceDeleteServlet</servlet-name>
    <url-pattern>/CategoryPriceDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPriceEditServlet</servlet-name>
    <url-pattern>/CategoryPriceEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPriceUpdateServlet</servlet-name>
    <url-pattern>/CategoryPriceUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotographerLogoutServlet</servlet-name>
    <url-pattern>/PhotographerLogoutServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>PhotographerChangePasswordServlet</servlet-name>
    <url-pattern>/PhotographerChangePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>